<div class="tituloPagina">
  {{ Titulo }}
</div>
<form *ngIf="AccionABMC == 'L'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-2">
        <label class="col-form-label">Nombre:</label>
      </div>
      <div class="col-sm-8 col-md-4">
        <input
          type="text"
          name="Nombre"
          class="form-control"
          formControlName="Nombre"
          maxlength="55"
        />
      </div>
      <div class="col-sm-4 col-md-2">
        <label class="col-form-label">Activo:</label>
      </div>
      <div class="col-sm-8 col-md-4">
        <select
          class="form-control"
          name="Activo"
          formControlName="Activo"
        ></select>
      </div>
    </div>

    <hr />

    <!-- Botones -->
    <div class="row justify-content-center botones">
      <button type="button" class="btn btn-primary">
        <i class="fas fa-search"> </i> Buscar
      </button>
      <button type="button" class="btn btn-primary">
        <i class="fas fa-plus"> </i>
        Agregar
      </button>
    </div>
  </div>
</form>
