<div class="tituloPagina">
  {{ Titulo }} <small>{{ TituloAccionABMC[AccionABMC] }}</small>
</div>

<form>
  <div class="container-fluid">
    <hr />

    <!-- Botones -->
    <div class="row justify-content-center botones">
      <button type="button" class="btn btn-primary" (click)="Buscar();">
        <i class="fas fa-search"> </i> Buscar
      </button>
      <button type="button" class="btn btn-primary">
        <i class="fas fa-plus"> </i>
        Agregar
      </button>
    </div>
  </div>
</form>

<!-- Tabla de resultados -->
<div id="divTablaResultados">
  <table class="table table-hover table-sm table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">Nombre</th>
        <th class="text-center">MaxPasajeros</th>
        <th class="text-center">Fecha de Alta</th>
        <th class="text-center">Habilitado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Hotel of Hoteles">
        <td>{{ Hotel.Nombre }}</td>
        <td class="text-right">{{ Hotel.MaxPasajeros }}</td>
        <td class="text-right">{{ Hotel.FechaAlta }}</td>
        <td>{{ Hotel.Habilitado ? 'SI' : 'NO' }}</td>
        <td class="text-center text-nowrap"></td>
      </tr>
    </tbody>
  </table>
</div>
